.landing-page {
  font-family: "Segoe UI Variable", "Segoe UI", sans-serif;
  width: 100%;
  word-wrap: break-word;
}

.landing-page-header {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 10px 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
.logo > p {
  font-size: 16px;
  font-weight: bold;
}

.landing-page-header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.hero-section {
  width: 100%;
  height: 90vh;
  background-image: url(../../assets/images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  width: 60%;
  height: 40%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.hero-title > h1 {
  font-size: 48px;
  width: 40%;
}

.hero-title > p {
  font-size: 20px;
  width: 40%;
}

main {
}

.main-title1 {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title1 > h2 {
  font-size: 48px;
  text-align: center;
  padding: 0 10px;
}

.two-column {
  margin: 100px 15%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.row-reverse {
  flex-direction: row-reverse;
}

.two-column > .column-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.column-1 > h3 {
  font-size: 24px;
}

.column-1 > p {
  font-size: 20px;
  line-height: 30px;
}

.column-2 {
  flex: 1;
}

.column-2 > img {
  width: 100%;
  border-radius: 40px;
}

.features-section2 {
  margin: 200px 10%;
}

.features-section2 > h3 {
  text-align: center;
  font-size: 36px;
  word-wrap: wrap;
}

.fe-sec2-image {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.fe-sec2-image > img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

.action-section {
  margin: 100px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.action-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

footer {
  height: 400px;
  background: rgb(174, 238, 233);
  background: radial-gradient(
    circle,
    rgba(174, 238, 233, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-title > h1,
  .hero-title > p {
    width: 100%;
  }
  .main-title1 > h2 {
    font-size: 36px;
  }
  .two-column {
    flex-direction: column-reverse;
    margin: 50px 5%;
  }
  .features-section2 {
    margin: 100px 0;
    width: 100%;
  }
  .action-section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 50px 5%;
  }
  .action-button {
    justify-content: center;
    align-items: center;
  }
  .action-section img {
    width: 100%;
  }
}
